<% layout("/layouts/boilerplate") %>

<div class="container edit-container">

    <h2 class="edit-heading">Edit Listing</h2>

    <form method="POST"
          action="/listings/<%= listing._id %>?_method=PUT"
          novalidate
          class="listing-form needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input
                type="text"
                class="form-control"
                name="listing[title]"
                value="<%= listing.title %>"
                required
                />
             <div class="invalid-feedback">Title should be valid</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>

            <textarea
                class="form-control"
                rows="4"
                name="listing[description]"
                required
                ><%= listing.description %></textarea>
                 <div class="invalid-feedback">Description should be valid</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Property Type</label>
            <select name="listing[type]" class="form-select"  required>
                <option value="">Select a type</option>
                <option value="trending" <%= listing.type === "trending"? "selected" : "" %> >Trending</option>
                <option value="rooms" <%= listing.type === "rooms"? "selected" : "" %> >Rooms</option>
                <option value="cities" <%= listing.type === "cities"? "selected" : "" %> >Iconic Cities</option>
                <option value="mountain" <%= listing.type === "mountain"? "selected" : "" %> >Mountains</option>
                <option value="castles" <%= listing.type === "castles"? "selected" : "" %> >Castles</option>
                <option value="swimming" <%= listing.type === "swimming"? "selected" : "" %> >Swimming pool</option>
                <option value="camping" <%= listing.type === "camping"? "selected" : "" %> >Camping</option>
                <option value="arctic" <%= listing.type === "arctic"? "selected" : "" %> >Arctic</option>
                <option value="farm" <%= listing.type === "farm"? "selected" : "" %> >Farms</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Upload new image</label>

            <input
                type="file"
                class="form-control"
                name="listing[image]"
                />
           
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>

            <input
                type="number"
                class="form-control"
                name="listing[price]"
                value="<%= listing.price %>"
                required
                />
             <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">Location</label>

                <input
                    type="text"
                    class="form-control"
                    name="listing[location]"
                    value="<%= listing.location %>"
                    required
                    >
                 <div class="invalid-feedback">Location should be valid</div>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Country</label>

                <input
                    type="text"
                    class="form-control"
                    name="listing[country]"
                    value="<%= listing.country %>"
                    required
                    >
                 <div class="invalid-feedback">Country should be valid</div>
            </div>

        </div>

        <button type="submit" class="btn update-btn">
           Edit
        </button>

    </form>

</div>

<script src="/js/script.js"></script>